.subscribe {
  background: #FAFFFD;
  margin-top: 150px;
}

.subscribe .heading-text h2 {
  font-family: 'Playfair Display' !important;
  font-weight: bold;
  color: #000;
}

.subscribe .heading-text p {
  font-size: 20px;
  color:gray;
  font-family: 'montserrat', yeseva One,;
  margin-top: 20px;
}

.subscribe .input-field {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.subscribe .input-field .input-group {
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 5px 4px rgb(197 178 178 / 10%);
}

.subscribe input[type="text"] {
  padding: 25px;
  background: #ffff
}

.subscribe input[type="text"].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.subscribe ::placeholder {
  color: gray;
  font-family: 'montserrat', yeseva One,;
}

.subscribe .subscribe-btn {
  margin-left: 5px;
  padding: 0 40px;
  border-radius: 5px!important;
  font-family: 'montserrat', yeseva One,;
}

.subscribe button:focus {
  outline: 0;
}
