.pricing {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.pricing::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  top: -50%;
  left: -30%;
  z-index: -1;
  background: #FAFFFD url('../../Images/Group\ 46@2x.png') 0 0 no-repeat;
  background-size: contain;
  transform: rotate(-10deg);
}

.pricing .heading-text h2{
  font-family: 'Playfair Display' !important;
  font-weight: bold;
  color: #000;
}

.pricing p {
  margin: 0;
  padding: 0;
}

.pricing .heading-text {
  text-align: center;
  margin-bottom: 60px;
}

.pricing .heading-text h4 {
  font-weight: 400;
}

.pricing .single-card-bx {
  padding: 0 35px; 
}

.pricing .single-card {
  background: #ffff;
  padding: 30px 50px ;
  box-shadow: 0 0 5px 4px rgb(103 95 95 / 14%);
  border-radius: 5px;
  position: relative;
}

.pricing .single-card:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #3CEDCE;
  border-radius: 5px;
}

.pricing .single-card h1 {
  font-weight: bold;
  color: #494242;
}

.pricing .single-card h6 {
  color: #353535;
}
.single-card .line {
 border-bottom: 2px solid #4FD1CB;
}

.pricing .single-card p{
  padding: 6px 0;
  font-weight: 500;
  color: #353535;
}

.pricing .single-card:hover .line {
  border-color: gray; 
}

.pricing .single-card:hover .button {
  visibility: visible!important;
}


@media(min-width: 768px) and (max-width: 992px) {
  .pricing .single-card-bx {
    padding: 0 5px; 
  }

  .pricing .single-card {
    padding: 30px 10px;
  }

  .pricing .single-card p{
    font-weight: bold;
  }
   
}
