.contact-container {
    background-image: url('../../Images/ContactBg.png');
    background-position: right;
    background-repeat: no-repeat;
}
.contact-container h2 {
    font-family: 'Playfair Display' !important;
    font-weight: 700;
    color: #000127;
}