.footer {
  background: #FAFFFD;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .logo-area .footer-logo {
  width: 140px;
  margin-bottom: 20px;
  object-fit: cover;
}

.footer .logo-area .social-icon {
  width: 25px;
  margin-top: 10px;
  object-fit: cover;
  filter: grayscale(50%) brightness(2);
}

.footer .logo-area .social-icon:hover {
  filter: brightness(1);
}

.footer .list-area li {
  list-style: none;
  font-weight: 600;
  color: #464646;
  font-family: 'montserrat', yeseva One,;
  padding: 5px 0;
}

.footer .list-area li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer ul {
  width: 50%;
}

@media (max-width: 767px) {
  .footer ul {
    width: 100%;
    margin-left: 10%;
  }
}
